@import '../styles/reset.scss';
@import '../styles/utils/base';
@import '../styles/utils/variables';
@import '../styles/utils/breakpoints';

.map-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.svg-map__location{
    fill: darkred;
}

.svg-map{
width: 70%;
display: flex;
justify-self: center;
align-self: center;
margin: 0;
}

#on.svg-map__location{
    fill: darkred
}