@import '../../styles/utils/base';

.svg-map__location{
    fill: #E01D1D;
}

.svg-map{
    width: 100%;
    height: 100%;
    margin: 0;
}

#on.svg-map__location{
    fill:  #E01D1D;
}

.map__container {
    width: 50%;
    height: 100%;
}