@import '../styles/reset.scss';
@import '../styles/utils/base';
@import '../styles/utils/variables';
@import '../styles/utils/breakpoints';

.footer{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    width: 50%;
    margin-left: 240px;
}

