@import '../styles/reset.scss';
@import '../styles/utils/base';
@import '../styles/utils/variables';
@import '../styles/utils/breakpoints';

.p{
font-size: 50px;
}

.main-header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 100px;
    margin-top: 40px;
}

.div-right{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.about{
    margin-right: 30px;
    height: 100px;
}

.logo{
    margin-left: 170px;
}

.publications{
    height: 100px;
}