@import '../../styles/utils/base'; 

.main__hero {
    display: flex;
    flex-direction: row;
    height: 50vh;
    margin: 0 48px;

    &-img {
       width: 50%;
    }
    &-buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        text-align: center;
        width: 10%;

        & button {
            width: 100%;
            margin: 0 15px;
            padding: 10px 45px;
            background-color: #FF2727;
            border: none;;
        }
    }
}