@import '../../styles/utils/base'; 

.main__hero {
    display: flex;
    flex-direction: row;
    height: 50vh;
    margin: 0 48px;

    &-img {
       width: 50%;
    }
    &-buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        margin-top: 5%;

        & button {
            width: 10%;
            margin: 0 15px;
            padding: 10px 5px;
            border-radius: 5%;
            background-color: #FF2727;
            border: none;
            color: white;
        }
    }
}
h4 {
    text-align: center;
    margin-top: -10px;
}
.test{
    text-align: center;
    margin: 0;
}